/* RESET */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    background-image: url(../img/showcase.webp);
}

/* CABEÇALHO */
.logo-spotify {
    min-width: 7vw;
    max-width: 7vw;
}

.navbar {
    opacity: 0.85;
    background-color: #000000;
}

.nav-link {
    color: #FFFFFF !important;
    font-size: 0.9rem;
}

.nav-link:hover {
    color: #1DB954 !important;
}

.navbar-toggler:hover {
    border: none !important;
}

.container {
    width: 60%;
}

.bar:hover {
    color: #FFFFFF !important;
}

.baixar-link::after {
    content: "";
    border: 1px solid #FFFFFF;
    margin-left: 15px;
}

/* CORPO */

.corpo {
    background-image: url(../img/showcase.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: color;
}

.alinhamento-corpo {
    height: 115vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.alinhamento-corpo h1 {
    font-weight: bold;
    font-size: 4em;
    margin-top: 22%;
}

.btn {
    background-color: #1DB954;
    border-radius: 20px;
    color: #FFFFFF;
    width: 20vw;
    border: none;
}

.btn:hover {
    color: #1DB954;
    border: 1px solid #1DB954;
    background-color: transparent;
}

/* FOOTER */
.rodape {
    background-color: #000000;
    border-radius: 0;
    font-size: 0.8em;
}

.rodape p {
    color: gray;
}

.rodape a {
    color: #FFFFFF;
}

.rodape-container-pai {
    width: 65vw;
}

/* SECTION FOOTER COLUNAS */

.footer-colunas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7%;
    margin-bottom: 5%;
    padding-right: 5%;
}

.footer-coluna-empresa, .footer-coluna-comunidade, .footer-coluna-links-uteis {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-coluna-rede-social {
    display: flex;
    font-size: 1.5rem;
    height: 5vh;
}

.footer-coluna-rede-social i {
    margin-right: 1vw;
    color: #FFFFFF;
}

.footer-coluna-empresa a, .footer-coluna-comunidade a, .footer-coluna-links-uteis a {
    margin-bottom: 5%;
}

.footer-coluna-empresa a:hover, .footer-coluna-comunidade a:hover, .footer-coluna-links-uteis a:hover, .footer-coluna-rede-social i:hover {
    color: #1DB954;
    cursor: pointer;
}

/* SECTION FOOTER END */

.footer-end {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: end;
    color: gray;
    margin-bottom: 5%;
}

.footer-end-right {
    display: flex;
    align-items: end;
}

.footer-end-right a {
    margin-right: 5%;
    color: gray;
}

.footer-end-right a:hover {
    color: #1DB954;
}

.footer-end-left {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.footer-end-lang, .footer-end-copyright {
    display: flex;
    justify-content: end;
}

.brasil-icon {
    width: 20px;
    margin-left: 10px;
}

@media only screen and (device-width: 390px) and (device-height: 844px) {
    body {
        background-color: #000000;
    }

    .corpo {
        background-size: 180% !important;
    }

    .nav-link {
        font-size: 1.9rem !important;
    }
}

@media only screen and (device-width: 360px) and (device-height: 740px) {
    .corpo {
        background-size: 170% !important;
    }

    .nav-link {
        font-size: 1.45rem !important;
    }
}

/* Muito Pequena */
@media screen and (max-width:360px) {
    .alinhamento-corpo {
        height: 55vh !important;
    }

    .footer-end-right {
        width: 120%;
        margin-top: 10%;
    }

    .baixar-link::after {
        display: none;
    }
}

/* Pequena */
@media screen and (max-width:600px) {
    .nav-link {
        font-size: 1.2rem;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }

    .logo-spotify {
        min-width: 30vw;
        max-width: 30vw;
    }

    .baixar-link::after {
        display: none;
    }

    body {
        background-color: #000000;
    }

    .corpo {
        text-align: center;
        background-size: 150%;
        background-position: center;
    }

    .alinhamento-corpo {
        height: 43vh;
    }

    .corpo h1 {
        font-size: 2em;
        margin-top: 40%;
    }

    .corpo p {
        width: 60%;
        margin-bottom: 5%;
    }

    .btn {
        width: 70vw;
        font-size: large;
    }

    .logo-footer {
        margin-top: 5%;
        margin-bottom: 20%;
    }

    .rodape {
        font-size: larger;
    }

    .footer-colunas {
        display: block;
    }

    .footer-coluna-empresa, .footer-coluna-comunidade {
        margin-bottom: 10%;
    }

    .footer-coluna-rede-social {
        justify-content: center;
    }

    .footer-coluna-rede-social i {
        margin-right: 5vw;
        font-size: larger;
    }

    .footer-end {
        flex-direction: column;
        margin-top: 2%;
    }

    .footer-end a {
        margin-bottom: 5%;

    }

    .footer-end-right, .footer-end-left {
        margin-bottom: 20%;
        flex-direction: column;
    }

    .footer-end-right {
        align-items: flex-start;
    }

    .footer-end-left {
        align-items: center;
        width: auto;
    }

    .footer-end-copyright {
        width: auto;
    }
}

@media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (-webkit-min-device-pixel-ratio: 2) {
    .nav-link {
        font-size: 2.5rem !important;
    }
}

/* Média */
@media screen and (min-width:601px) and (max-width:1000px) {
    .nav-link {
        font-size: 2rem;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }

    .logo-spotify {
        min-width: 30vw;
        max-width: 30vw;
    }

    .baixar-link::after {
        display: none;
    }

    body {
        background-color: #000000;
    }

    .corpo {
        text-align: center;
        background-size: 150%;
        background-position: center;
    }

    .alinhamento-corpo {
        height: 60vh;
    }

    .corpo h1 {
        font-size: 3.5rem;
        margin-top: 40%;
    }

    .corpo p {
        width: 50%;
        margin-bottom: 5%;
        font-size: 1.5rem;
    }

    .btn {
        width: 50vw;
        font-size: x-large;
    }


    .logo-footer {
        margin-top: 5%;
        margin-bottom: 20%;
    }

    .rodape {
        font-size: xx-large;
    }

    .footer-colunas {
        display: block;
    }

    .footer-coluna-empresa, .footer-coluna-comunidade {
        margin-bottom: 10%;
    }

    .footer-coluna-rede-social {
        justify-content: center;
    }

    .footer-coluna-rede-social i {
        margin-right: 5vw;
        font-size: larger;
    }

    .footer-end {
        flex-direction: column;
        margin-top: 2%;
    }

    .footer-end a {
        margin-bottom: 5%;

    }

    .footer-end-right, .footer-end-left {
        margin-bottom: 20%;
        flex-direction: column;
    }

    .footer-end-right {
        align-items: flex-start;
    }
    
    .footer-end-left {
        align-items: center;
        margin-left: 15%;
        width: auto;
    }

    .footer-end-copyright {
        width: auto;
    }
}