/* RESET */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    background-image: url(../img/showcase.webp);
}

/* CABEÇALHO */
.logo-spotify {
    min-width: 7vw;
    max-width: 7vw;
}

.navbar {
    opacity: 0.85;
    background-color: #191414;
}

.nav-link {
    color: #FFFFFF !important;
    font-size: 0.9rem;
}

.nav-link:hover {
    color: #1DB954 !important;
}

.navbar-toggler:hover {
    border: none !important;
}

.container {
    width: 60%;
}

.bar:hover {
    color: #FFFFFF !important;
}

.baixar-link::after {
    content: "";
    border: 1px solid #FFFFFF;
    margin-left: 15px;
}

/* CORPO */

.corpo {
    background-image: url(../img/showcase.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: color;     
}

.alinhamento-corpo {
    height: 115vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.alinhamento-corpo h1 {
    font-weight: bold;
    font-size: 4em;
    margin-top: 22%;
}

.btn {
    background-color: #1DB954;
    border-radius: 20px;
    color: #FFFFFF;
    width: 20vw;
    border: none;
}

.btn:hover {
    color: #1DB954;
    border: 1px solid #1DB954;
    background-color: transparent;
}
